body {
  margin: 0;
  font: normal 500 100%/1.5 sans-serif;
  -webkit-font-smoothing: antialiased; }

::selection {
  background: rgba(178, 238, 74, 0.24); }

::-moz-selection {
  background: rgba(178, 238, 74, 0.24); }

img {
  border: none; }

ul {
  margin: 0;
  padding: 0; }

header {
  color: #444444;
  border-bottom: 1px solid #898989;
  height: 30%;
  background: #e3e5e7;
  background: -o-linear-gradient(-90deg, white 0%, #e3e5e7 30%);
  background: -moz-linear-gradient(-90deg, white 0%, #e3e5e7 30%);
  background: -webkit-linear-gradient(-90deg, white 0%, #e3e5e7 30%);
  background: -ms-linear-gradient(-90deg, white 0%, #e3e5e7 30%);
  background: linear-gradient(-180deg, white 0%, #e3e5e7 30%); }

header .container {
  margin: 0 auto;
  width: 100%;
  max-width: 45em; }

.login {
  position: absolute;
  top: 2.5%;
  right: 5%; }

.FacebookLogin {
  padding: 0.5em 0.75em;
  border-radius: 8px;
  background-image: -o-linear-gradient(-90deg, #b5ed57 0%, #5ec23a 100%);
  background-image: -moz-linear-gradient(-90deg, #b5ed57 0%, #5ec23a 100%);
  background-image: -webkit-linear-gradient(-90deg, #b5ed57 0%, #5ec23a 100%);
  background-image: -ms-linear-gradient(-90deg, #b5ed57 0%, #5ec23a 100%);
  background-image: linear-gradient(-180deg, #b5ed57 0%, #5ec23a 100%);
  border: 2px solid #7EBE66; }

.FacebookLogin {
  color: #FFF;
  text-decoration: none; }
