<!DOCTYPE html>
<html lang="en">
<head>

	<title>Welcome to Objective!</title>
	
	<meta charset="UTF-8">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<link rel="stylesheet" href="/assets/styles/css/home.css">

</head>
<body>
	<iframe src="http://nodeknockout.com/iframe/moin" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
	<header>
		<div class="branding">
			<img class="objlogo" src="/assets/images/ObjectiveLogo.svg">
		</div>
		<div class="login">
			<a class="FacbookLogin" href="/auth/facebook">Login with Facebook</a>
		</div>
	</header>
</body>