// Colors

$blue: #009BCD;
$darkblue: #007EA6;
$darkgrey: #444444;
$lightgrey: #808080;
$text-color: #444444;
$bg-color: #E3E5E7;
$highlight-color: rgba(178,238,74,0.5);

// Fonts

$font-fam: "Helvetica Neue", Helvetica, Arial, sans-serif