<% layout('layout') -%>
<% stylesheet('/assets/styles/css/normalize.css') -%>
<% stylesheet('/assets/styles/css/home.css') -%>
	<header>
		<div class="container cf">
		<div class="branding">
			<img class="objlogo" src="/assets/images/ObjectiveLogo.svg">
			<p>Your to-do list for the Internet</p>
			<div class="votebutton">
				<iframe class="button-o-buggery" src="http://nodeknockout.com/iframe/moin" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
			</div>
		</div>
		<div class="login">
			<a class="FacebookLogin" href="/auth/facebook">Login with Facebook</a>
		</div>
		</div>
	</header>
	<main class="content cf">
		<div class="container">
        <div class="left">
			<h2>for all the things you need to do on the Internet.</h2>
			<p>Everyday there are hundreds of tasks you accomplish on the Internet, however, what about the things that manage to fall through the cracks?</br></br>Most of us keep a list of reminders on our smartphones or computers through certain native applications, but those are only designed to help you accomplish tasks offline. Isn&#39;t it about time that someone made something for all the tasks you have to complete <i>online</i>?</br></br>Say hello to Objective.</p>
			<div class="votebutton">
				<iframe class="button-o-buggery" src="http://nodeknockout.com/iframe/moin" frameborder="0" scrolling="no" allowtransparency="true" width="115" height="25"></iframe>
			</div>
		</div>
        </div>
	</main>

	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/assets/scripts/libs/handlebars-1.1.2.js"></script>
	<script src="/assets/scripts/libs/ember-1.1.2.js"></script>
	<script src="/assets/scripts/app.js"></script>
	<script src="/assets/scripts/models/todo.js"></script>
	<script src="/assets/scripts/views/application.js"></script>
	<script src="/assets/scripts/views/application.js"></script>
	<script src="/assets/scripts/router.js"></script>
	<script src="/assets/scripts/ajax_helpers.js"></script>