<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Objective!</title>
	
	<meta charset="UTF-8">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<link rel="stylesheet" href="/assets/css/normalize.css">
	<link rel="stylesheet" href="/assets/styles/css/home.css">

</head>
<body>
	<iframe class="floatybugger" src="http://nodeknockout.com/iframe/moin" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
	<header>
		<div class="container cf">
		<div class="branding">
			<img class="objlogo" src="/assets/images/ObjectiveLogo.svg">
			<p>Your to-do list for the Internet</p>
		</div>
		<div class="login">
			<a class="FacebookLogin" href="/auth/facebook">Login with Facebook</a>
		</div>
		</div>
	</header>
	<main>
		<img src="/assets/images/Glassboard.jpg">
	</main>

	<script src="/assets/js/libs/jquery-1.9.1.js"></script>
  	<script src="/assets/js/libs/handlebars-1.0.0.js"></script>
  	<script src="/assets/js/libs/ember-1.1.2.js"></script>
  	<script src="/assets/js/app.js"></script>
  	<script src="/assets/js/models/todo.js"></script>
  	<script src="/assets/js/controllers/application.js"></script>
  	<script src="/assets/js/views/application.js"></script>
  	<script src="/assets/js/router.js"></script>
  	<script src="/assets/js/ajax_helpers.js"></script>
</body>