<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Objective!</title>
	
	<meta charset="UTF-8">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta name="apple-mobile-web-app-title" content="Objective">
	 
		<!-- Icons -->
		
		<!-- iOS 7 iPad (retina) -->
		<link href="../public/assets/images/AppleTouchIcons/152x152.png"
			sizes="152x152"
			rel="apple-touch-icon">

		<!-- iOS 6 iPad (retina) -->
		<link href="../public/assets/images/AppleTouchIcons/144x144.png"
			sizes="144x144"
			rel="apple-touch-icon">

		<!-- iOS 7 iPhone (retina) -->
		<link href="../public/assets/images/AppleTouchIcons/120x120.png"
			sizes="120x120"
			rel="apple-touch-icon">
		
		<!-- iOS 6 iPhone (retina) -->
		<link href="../public/assets/images/AppleTouchIcons/114x114.png"
			sizes="114x114"
			rel="apple-touch-icon">

		<!-- iOS 7 iPad -->
		<link href="../public/assets/images/AppleTouchIcons/76x76.png"
			sizes="76x76"
			rel="apple-touch-icon">

		<!-- iOS 6 iPad -->
		<link href="../public/assets/images/AppleTouchIcons/72x72.png"
			sizes="72x72"
			rel="apple-touch-icon">
		
		<!-- iOS 6 iPhone -->
		<link href="../public/assets/images/AppleTouchIcons/57x57.png"
			sizes="57x57"
			rel="apple-touch-icon">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<link rel="stylesheet" href="../public/assets/styles/css/normalize.css">
	
	<link rel="stylesheet" href="../public/assets/styles/css/home.css">

</head>
<body>
	<header>
		<div class="container cf">
		<div class="branding">
			<img class="objlogo" src="../public/assets/images/ObjectiveLogo.svg">
			<p>Your to-do list for the Internet</p>
			<div class="votebutton">
				<iframe class="button-o-buggery" src="http://nodeknockout.com/iframe/moin" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
			</div>
		</div>
		<div class="login">
			<a class="FacebookLogin" href="/auth/facebook">Login with Facebook</a>
		</div>
		</div>
	</header>

	<main class="content">
		<div class='low_container'>
        <h2>Ullamcorper Sem Inceptos Aenean Porta</h2>
        <div class='left'>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
          <p>Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>

        <div class='right'>
        	<!-- <img src="../public/assets/images/AppleTouchIcons/512x512.png"></img>--> <!--insert other placeholder image? -->
        </div>
    </div>
	</main>

</div>

	
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="/assets/scripts/libs/handlebars-1.1.2.js"></script>
	<script src="/assets/scripts/libs/ember-1.1.2.js"></script>
	<script src="/assets/scripts/app.js"></script>
	<script src="/assets/scripts/models/todo.js"></script>
	<script src="/assets/scripts/views/application.js"></script>
	<script src="/assets/scripts/views/application.js"></script>
	<script src="/assets/scripts/router.js"></script>
	<script src="/assets/scripts/ajax_helpers.js"></script>
</body>