<% layout('app-view') -%>
<% stylesheet('/assets/styles/settings.css') -%>
<% script('//code.jquery.com/jquery-2.1.0.min.js') -%>
<% script('/assets/scripts/jquery.form.js') -%>
<% script('/assets/scripts/ajaxSubmitFile.js') -%>

<main class="settingslist">
	<h1 class="settingstitle">Change your settings</h1>
	<div class="settingslistcontainer">
	<form class="profileimageupload" id="uploadForm" method="post" action="/settings/save" enctype="multipart/form-data">
		<section id="inputbackgroundcontainer">
		<label class="inputlabels" for="profilephoto">Profile Photo</label>
		<div class="fileinputcontainer">
			<span id="fileselecttext">Select your profile photo</span>
			<input id="userPhotoInput" class="fileinputinvis" type="file" name="profilephoto">
		</div>
		</section>
		<input id="saveAjax" class="button" type="button" value="Save">
	</form>
	</div>
</main>