<% layout('layout') -%>

<link rel="stylesheet" href='/assets/styles/settings.css'>

<main class="settingslist">
  <h1 class="settingstitle">Change your settings</h1>
  <div class="settingslistcontainer">
    <form class="profileimageupload" id="uploadForm" method="post" action="/settings/save" enctype="multipart/form-data">
      <section id="inputbackgroundcontainer">
        <label class="inputlabels" for="profilephoto">Profile Photo</label>
        <div class="fileinputcontainer">
          <span id="fileselecttext">Select your profile photo</span>
          <input id="userPhotoInput" class="fileinputinvis" type="file" name="profilephoto">
        </div>
      </section>
      <input id="saveAjax" class="button" type="button" value="Save">
    </form>
  </div>
</main>
<script src="/assets/scripts/jquery.form.js"></script>
<script src="/assets/scripts/ajaxSubmitFile.js"></script>