<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome to Objective!</title>
	
	<meta charset="UTF-8">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<link rel="stylesheet" href="../public/assets/styles/css/normalize.css">
	
	<link rel="stylesheet" href="../public/assets/styles/css/taskboard.css">

</head>
<body>
	<header>
		<div class="container cf">
		<div class="branding">
			<img class="objlogo" src="../public/assets/images/ObjectiveLogo.svg">
		</div>
		<div class="user">
			<img class="userpic" src="../public/assets/images/Userpic.png">
			<p class="username">Scott</p>
			<span class="arrow-down"></span>
		</div>
	</header>
	<main class="tasklist cf">
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... </p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description... Task Description... Task Description... Task Description... </p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... </p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		
	</main>
	
	<script src="../public/assets/scripts/libs/jquery-1.9.1.js"></script>
	<script src="../public/assets/scripts/libs/handlebars-1.1.2.js"></script>
	<script src="../public/assets/scripts/libs/ember-1.1.2.js"></script>
	<script src="../public/assets/scripts/app.js"></script>
	<script src="../public/assets/scripts/models/todo.js"></script>
	<script src="../public/assets/scripts/views/application.js"></script>
	<script src="../public/assets/scripts/views/application.js"></script>
	<script src="../public/assets/scripts/router.js"></script>
	<script src="../public/assets/scripts/ajax_helpers.js"></script>
</body>