<!DOCTYPE html>
<html lang="en">
<head>
	<title>Objective | Your Tasks</title>
	
	<meta charset="UTF-8">
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	
	<link rel="stylesheet" href="../public/assets/styles/css/normalize.css">
	
	<link rel="stylesheet" href="../public/assets/styles/css/taskboard.css">
	
</head>
<body>
	<header>
		<div class="container cf">
		<div class="branding">
			<img class="objlogo" src="../public/assets/images/ObjectiveLogo.svg">
		</div>
		<div class="user">
			<img class="userpic" src="../public/assets/images/Userpic.png">
			<p class="username">Scott</p>
			<span class="arrow-down"></span>
		</div>
	</header>
	<main class="tasklist">
		<div class="tasklistcontainer cf">
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/testfavicons/Google.jpg">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/testfavicons/Twitter.png">
				<span class="si-icon si-icon-check" data-icon-name="check"></span>
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/testfavicons/Pinterest.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/testfavicons/Google.jpg">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/testfavicons/Twitter.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/testfavicons/Verge.ico">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... </p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/testfavicons/Polygon.ico">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description... Task Description... Task Description... Task Description... </p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... Task Description... </p>
			</div>
		</div>
		<div class="taskitem cf">
			<div class="itemimage">
				<img src="../public/assets/images/Userpic.png">
			</div>
			<div class="iteminfo">
				<h1>Task Title</h1>
				<p>Task Description</p>
			</div>
		</div>
		</div>
	</main>
		
	<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
	<script src="../public/assets/scripts/libs/handlebars-1.1.2.js"></script>
	<script src="../public/assets/scripts/libs/ember-1.1.2.js"></script>
	<script src="../public/assets/scripts/app.js"></script>
	<script src="../public/assets/scripts/models/todo.js"></script>
	<script src="../public/assets/scripts/views/application.ejs"></script>
	<script src="../public/assets/scripts/controllers/application.js"></script>
	<script src="../public/assets/scripts/router.js"></script>
	<script src="../public/assets/scripts/ajax_helpers.js"></script>
</body>